body{
    font-family: "Inter", sans-serif;
    height: 100vh;
}

.signup-section {
    width:100%;
    margin-top: 60px;
    align-items:center;
    justify-content: center;
    display: flex; 
    flex-direction: column;
}

.signup-container {
    align-items:center;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    width: 550px;
    border : 1px solid  rgb(80, 149, 158);
    border-radius: 12px;
    box-shadow: 5px 5px 10px 10px lightblue;
    margin-bottom: 60px;
}

.signup-container  h1 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 60px;
}

.contact-container form {
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-ct {
    margin-bottom: 1.5rem;
}

.form-ct label {
    display: block;
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.form-ct input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s ease;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-ct input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(9, 126, 251, 0.3);
}

.signup-container   button {
    display: block;
    padding: 15px;
    width: 150px;
    background-color: rgb(80, 149, 158);;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 60px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-container button:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-container button:focus {
    outline: none;
}
header{
    background-color: rgb(80, 149, 158);
}
nav{
    width: 70%;
    margin: auto;
    height: 80px;
    font-size: 1.3rem;
}
nav ul{
    padding-top: 10px;
}


footer{
    background-color: rgba(80, 149, 158, 0.586);
    height: 350px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.auth-section{
    width: 100%;
    background-color: aquamarine;
}
.auth-main{
    display: block;
    width: 50%;
    margin: auto;
}