{% extends "base.html" %}


{% block content %}

<section>
    <div class="about-section">
        <h1 class="about-us"> ABOUT US </h1>
        <p class="about-us">We create the best quality service. <br>
            We offer a secure and best information base.
        </p>
    </div>
    <div class="about-cards">
        <div class="about-card1">
            <img src="/static/assets/1.jpg" alt="img" class="about-img">
            <h5 class="about-names">Beka Bitarashvili</h3>
        </div>

        <div class="about-card2">
            <img src="/static/assets/istockphoto-1010812656-612x612.jpg" alt="img" class="about-img">
            <h5 class="about-names">Naniko Tsertsvadze</h3>
        </div>

        <div class="about-card3">
            <img src="/static/assets/3.jpg" alt="img" class="about-img">
            <h5 class="about-names">Nino Vibliani</h3>
        </div>
    </div>
</section>








{% endblock %}